@model IEnumerable<TestLilyCord.Models.PacientModel>

@{
    ViewBag.Title = "ViewPacient";
}

<h2>ViewPacient</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prenume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CNP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Varsta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Greutate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diagnostic)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prenume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CNP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Varsta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Greutate)
        </td>
        <td>
            @Html.ActionLink("Vezi diagnosticul", "ViewDiagnostic", "Pacient")
        </td>
    </tr>
}

</table>
